<h1>Edit Recipe</h1>

<h2>Current Ingredients: <%= @recipe.ingredients %><h2>

<form method="post" action="/recipes/<%= @recipe.id %>">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p>New Name: <input type="text" name="name"></p>
    <p>New Ingredients: <input type="text" name="ingredients"></p>
    <p>New Cook Time: <input type="text" name="cook_time"></p>
    <input type="submit" value="Update Recipe">
</form>