<html>
    <body>
        <h2>Submit your recipe here!</h2>
        <form method="POST" action='/recipes'>
            <p>Name of the recipe: <input type="text" name="name"></p>
            <p>Ingredients: <input type="text" name="ingredients"></p>
            <p>Cook time: <input type="text" name="cook_time"></p>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>