

<form method='POST' action='/recipes'>
    <p>Recipe Name:<input name='name' type='text'></p>
    <p>Ingredients:<input name='ingredients' type='text'></p>
    <p>Cook Time:<input name='cook_time' type='text'></p>
    <input type='submit' value='Submit'>
</form>