<h1>New Recipe</h1>

<form method="post" action="/recipes">
    <p>Recipe Name: <input type="text" name="name"></p>
    <p>Recipe Ingredients: <input type="text" name="ingredients">
    <p>Recipe Cook Time: <input type="text" name="cook_time"></p>
    <input type="submit" value="Create New Recipe">
</form>